.br{
    background-color: #864520;
}
.rd{
   background-color: #d20000; 
}
.skin{
    background-color: #f6d8b1;
}
.overalls{
    background-color: #0361a6;
}
.hair{
    background-color: black;
}
.yellowButton{
    background-color: yellow;
}
.whiteB{
    background-color: white;
}
.row{
    height: 6vh;
    background-color: red;
}

